{% extends "main.j2" %}
{% block title %}CyTunes: Contact{% endblock %}
{% block content %}
<h1 class="top">Contact</h1>
<address>
<strong>Chris Rossi</strong><br/>
<a href="mailto:cr@spacelabstudio.com">cr@spacelabstudio.com</a><br/>
+1 919 313 7347 (voice only)<br/>
</address>
{% endblock %}
