{% extends "main.j2" %}
{% block title %}CyTunes: Contact{% endblock %}
{% block content %}
<h1 class="top">Donate</h1>
<p>
Please consider donating to the Preston Robert Tisch Brain Tumor Center, the
center at Duke Hospital that treated Cy.  The Preston Robert Tisch Brain Tumor
Center performs life-saving research to grow our understanding of how to treat
brain tumors.  
</p>
<p class="big">
<a href="https://www.gifts.duke.edu/dukehealth/?designation=3912597">
Click here to donate.</a>
</p>
{% endblock %}
