{% extends "main.j2" %}
{% block content %}
<img src="/img/rawls.jpg" class="img-responsive pull-left" 
    alt="Photo of Cy Rawls"/>
<h1 class="top">Welcome to CyTunes!</h1>

<p>In July 2008, our friend and super music fan, 
<a href="http://cyrawls.blogspot.com/">Cy Rawls</a>, got sick.  Like many
young Americans he did not have health insurance.  We tried to raise money
anyway we could.  One thing we tried was we made 
<a href="http://www.indyweek.com/indyweek/cytunes-launches-with-memories-of-cy-rawls-and-hopes-for-cancer-research/Content?oid=1212771">CyTunes</a>, 
a website where our
friends in bands could upload music, we could sell it, and we'd use the money
to help Cy.  Cy passed away on October 3, 2008, before we could finish the 
project, so when we officially launched a few months later, in December, it was
with the aim to raise money for the 
<a href="https://tischbraintumorcenter.duke.edu/">Preston Robert Tisch Brain
Tumor Center.</a>
</p>

<p>In October 2013, CyTunes.org went down due to some issues with hosting and I
told folks that I planned to bring it back soon in an archived, read-only
format, where people could download any music they wanted, and then donate if
they choose.  I don't know about "soon", but CyTunes.org was relaunched in
April 2017 as a memorial to our friend, Cy, and all the people that pitched in
to help him out.</p>

{% endblock %}
